.container {
    display: flex;
    flex-direction: column;
}

.ground{
    display: flex;
    gap : 100px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,50px);
}

.cell{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: lightblue;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}