.container {
    display: flex;
    flex-direction: column;
}

.ground{
    display: flex;
    gap : 100px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,50px);
    border: 1px solid rgb(158, 158, 243);
}

.cell{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(158, 158, 243);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.placing {
    border: 0.5px solid rgba(34, 57, 34, 0.5);
    background-color: rgb(123, 235, 123, 0.2);
}

.ship {
    background-color: rgb(162, 104, 216,0.5);
}

.hit{
    background-color: #f06a49;
}

.miss {
    background-color: #a9d6e5;
}